$primary-green: #2E825C;
$secondary-green: #EDF5F1;

$primary-yellow: #CC9500;
$secondary-yellow: #F5F2E5;

$primary-red: #822E2E;
$secondary-red: #F5EDED;

$primary-blue: #2E4782;
$secondary-blue: #EFF1F6;

$primary-color: $primary-blue;
$secondary-color: $secondary-blue;
$tertiary-color: #637CDC;
$quaternary-color: #DEE8FF;

$neutral-content-background-color: white;